
header {
  font-size: 200%;
  font-family: 'Antic Slab', serif;
  padding-bottom: 20px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80);
  color: white;
  margin: 20px;
 }


section {
  padding: 20px 0px;
}

ul {
  list-style: circle;
  list-style-position: inside;
}

 image {
  width: 10%;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
 }

.table{
  background: rgba(76, 175, 80, 0.5);
  width:fit-content;
  padding: 10px;
  font-family: 'Antic Slab', serif;
}

 .data{
   font-family: Arial, Helvetica, sans-serif;
 }

 .text{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
  position: absolute;
  bottom: 10px;
} 

/* * {
   border: black solid;
 } */