
header {
  font-size: 200%;
  padding-bottom: 20px;
  padding-left: 10px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80);
  color: white;
  margin: 20px;
  font-family: 'Antic Slab', serif;
 }

 img {
  max-width:100%;
  max-height: 100%;
}

 .span{
    padding: 10px;
    width: 90%;
}
 
section {
  display: inline-block;
  width: 20%;
  height: 75%;
  vertical-align: top;
  background: rgba(76, 175, 80, 0.8);
  padding: 10px;
  margin: 10px;
  font-family: 'Antic Slab', serif;
  line-height: 1.5;
}

h2{
  font-size: xx-large;
}

 .hours{
  padding: 10px 0;
 }

 .openDate{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  padding: 10px 0;
}

footer{
  padding: 10px;
  bottom: 10px;
} 

#shirt{
  float: right;
  padding: 2px;
}

#family{
  float: left;
  padding: 2px;
}
/* * {
   border: black solid;
 } */

 #bold{
   font-weight: bold;
 }